<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Recomendador de Despacho</title>
</head>

<body>
    <main class="h-screen flex flex-col">
        <h1 class="w-full bg-green-300 py-3 px-2">Recomendador de Despacho</h1>
        <div class="grid grid-cols-2 grow mt-10">
            {{template "form.html"}}
            {{template "config.html" .}}
        </div>
        <footer class="relative bottom-0 w-full text-center bg-slate-100">Desarrollado por <a class="text-blue-500" href="https://github.com/vcser" target="_blank">Vicente Cser</a></footer>
    </main>
</body>

</html>